*{
    margin: 0%;
    padding: 0%;
}

body{
    background-color: #000000;
  
}

.navigatie_balk{
    display: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 100px;
    
}

.content{
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

.pink_goose{
    display: flex;
    flex-direction: row;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    gap: 8px;
    height: 45px;
    width: 246px;
}

.pink{
    color: #ffffff;
    font-size: medium;
}

.goose{
  color: #FFB4D3;
  font-size: medium;
}


.menu_bar{
    align-self: center;
    color: #ffffff;
    gap: 44px;
    align-content: center;
    text-align: center;
    flex-direction: row;
    display: flex;
}
   
.Login{
    width: 92px;
    height: 44px;
    background-color: #243241;
    align-content: center;
    text-align: center;
    color: #ffffff;
    border-radius: 10px;
    margin-top: 22px;
}
  